name: apple_pay_mimic
description: Mimics to PassKit API
version: 0.0.2
repository: https://github.com/urusai88/apple_pay_mimic
issue_tracker: https://github.com/urusai88/apple_pay_mimic/issues

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: ApplePayMimicPlugin

